.toolbarCameraRotation {
    background-image: url(./img/droneCam.png);
    /* icon attribution to icons8.com: https://img.icons8.com/?size=100&id=21920&format=png&color=000000 */
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center;
}
